html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}


.navbar {
    width: 100%;
    height: 12%;
    background-color: rgb(219, 24, 24);
}

.inner {
    width: 100%;
    height: 110%;
    background-color: blue;

}