html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: Circular,spotify-circular,Helvetica,Arial,sans-serif;
}

@font-face {
    font-family: Spotify circle;
    src: url(/font/CircularSpotifyTxT-Bold.ttf);
    font-style: normal;
    font-weight: normal;
}

.navbar {
    width: 100%;
    height: 13.3%;
    background-color: rgb(17, 172, 82);
}

.barra ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: right;
    font-size: 17px;
    font-style: bold;
    margin-right: 4%;
}

.barra ul li {
    display: inline-block;
    color: white;
    padding: 10px 20px 10px 20px;

}

.barra ul li a {
    color: white;
    text-decoration: none;
    
}

.barra ul li a:hover {
    color: #1ed760;
}


.inner {
    width: 100%;
    height: 110%;
    background-color: blue;

}

